
/* Common */
html {
    font-size: 66%;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image:  url('../images/background.png');
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body * {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
    background: #888; 
}


::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Sidebar */

.sidebar {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0px 27px 0px rgba(85, 85, 85, 0.16);
    width: 30rem;
    height: 100vh;
}


/* Global */
.big-title {
    font-size: 6rem;
    color: rgb(22, 22, 22);
    line-height: 1.083;
}


.global-button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-transition: all 2s;
    transition: all 2s;
    overflow: hidden;
    position: relative;
    font-size: 2rem;
    border-radius: 80px;
    width: 16.7rem;
    height: 3.8rem;
    line-height: 1.9rem;
    margin: 0 1rem 0 1rem;
}

.global-button::after {
    position: absolute;
    content: "";
    display: block; 
    top: 0;
    left: -15%;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.445));
    height: 100%;
    width: 15%;
    transition: all .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  
}
.global-button::before {
    position: absolute;
    content: "";
    display: block; 
    top: 0;
    right: -15%;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.445));
    height: 100%;
    width: 15%;
    transition: all .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.global-button:hover::after {
    left: 110%;
    
}
.global-button:hover::before {
    right: 110%;
}

.global-button:hover {
    color: white;
}




.global-button:active::after {
    left: -15%;
}
.global-button:active::before {
    right: -15%;
}

.global-button--blue {
    background-image: -moz-linear-gradient( 135deg, rgb(35,136,217) 0%, rgb(81,177,253) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(35,136,217) 0%, rgb(81,177,253) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(35,136,217) 0%, rgb(81,177,253) 100%);
    box-shadow: 0px 4px 13px 0px rgba(35, 136, 217, 0.44);
}
.global-button--blue:active {
    background-image: -moz-linear-gradient( 135deg, rgb(35,136,217) 0%, rgb(81,177,253) 100%) !important;
    background-image: -webkit-linear-gradient( 135deg, rgb(35,136,217) 0%, rgb(81,177,253) 100%) !important;
    background-image: -ms-linear-gradient( 135deg, rgb(35,136,217) 0%, rgb(81,177,253) 100%) !important;
}

.global-button--orange {
    background-image: -moz-linear-gradient( 135deg, rgb(248,152,33) 0%, rgb(252,206,12) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(248,152,33) 0%, rgb(252,206,12) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(248,152,33) 0%, rgb(252,206,12) 100%);
    box-shadow: 0px 4px 13px 0px rgba(251, 190, 18, 0.44);
}

.global-button--orange:active {
    background-image: -moz-linear-gradient( 135deg, rgb(248,152,33) 0%, rgb(252,206,12) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(248,152,33) 0%, rgb(252,206,12) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(248,152,33) 0%, rgb(252,206,12) 100%);
}

.global-button--green {
    background-image: -moz-linear-gradient( 135deg, rgb(87,182,132) 0%, rgb(59,165,165) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(87,182,132) 0%, rgb(59,165,165) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(87,182,132) 0%, rgb(59,165,165) 100%);
    box-shadow: 0px 4px 13px 0px rgba(35, 136, 217, 0.44);
}

.global-button--green:active {
    background-image: -moz-linear-gradient( 135deg, rgb(87,182,132) 0%, rgb(59,165,165) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(87,182,132) 0%, rgb(59,165,165) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(87,182,132) 0%, rgb(59,165,165) 100%);
}
  

.arrow-right {
    background-image: url("../images/arrow-right.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 2rem;
}
.pause-icon {
    background-image: url("../images/stop.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 2rem;
}
.bookmark-icon {
    background-image: url("../images/bookmark.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 2rem;
}

.mark-icon {
    background-image: url("../images/check.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 3rem;
    height: 2rem;
}
.v-bottom {
    vertical-align: bottom;
}
.v-text-top {
    vertical-align: text-top;
    
}

.none {
    display: none;
}


.global-model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 75, 0.37);
    z-index: 1000;
}
.global-model-content {
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 13px 0px rgba(5, 5, 5, 0.08);
    min-width: 52rem;
    min-height: 32.85rem; 
    text-align: center;
}

.global-model-content h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
}
.global-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.global-form {
    text-align: center;
}
.global-form input:not(.form-check-input) {
    border-width: 1px;
    border-color: rgb(172, 172, 172);
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(183, 183, 183, 0.3);
    height: 4rem;
    color: rgb(172, 172, 172);
    max-width: 35rem;
    margin: auto;
}
.global-form textarea {
        color: rgb(172, 172, 172);
        border-width: 1px;
        border-color: rgb(172, 172, 172);
        border-style: solid;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 5px 0px rgba(183, 183, 183, 0.3);
        height: 125px;
        max-width: 35rem;
        margin: auto;
}


  
  
/* Main Page */
.start-button {

}

  


.main-box {
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}
.main-box h1 {
    font-weight: 800;
    font-size: 5.8rem;
}

.main-box h1, .main-box p {
    margin: 0 auto 3rem auto;
    max-width: 70rem;
}



.color-op {
    display: inline-block;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: .7rem;
    position: relative;
}
.color-op.active::after {
    content: "√";
    position: absolute;
    display: inline;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    color: white;
}
.color-op--red {
    background-color: rgb(255, 105, 73);
}
.color-op--blue {
    background-color: rgb(67, 199, 215);
}
.color-op--green {
    background-color: rgb(98, 218, 115);
}
.color-op--orange {
    background-color: rgb(255, 204, 66);
}

.text--green {
    color:  rgb(98, 218, 115) !important;
}
.text--red {
    color:  rgb(255, 105, 73) !important;
}
.text--blue {
    color:  rgb(67, 199, 215) !important;
}
.text--orange {
    color:  rgb(255, 204, 66) !important;
}

/* sidebar */


.sidebar {
    text-align: center;
    padding: 5rem 1rem;
}
.sidebar .search {
   font-size: 1.6rem; 
   color: rgba(54, 54, 54, 0.502);
   margin-bottom: 3rem;
}
@media screen and (max-width: 1100px) {
    .side-div {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sidebar {
        width: 80%;
        margin: 35rem auto 0 auto;
    }

    .main-div {
        flex: 0 0 100%;
        max-width: 100%;
        position: absolute;
    }
    
    .main-box {
        margin-top: 20rem;
    }
}
@media screen and (max-width: 500px) {
    .sidebar {
        width: 100%;
    }
}
.time-list {
    overflow-y: scroll;
    height: 93%;
}
.time-item {
    margin: 5rem 0 5rem 0;
    position: relative;
}


.time-item::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -4rem;
    left: 0;
    background-color:  rgb(235, 235, 235);
}

.time-item h3 {
    color: rgb(54, 54, 54);
    text-align: left;
}

.time-item .time-item-content {
    position: relative;
    
}

.time-item .color-box {
    position: absolute;
    left: 0;
    top: .5rem;
}

.time-item .time-item-content-main {
    padding: 1rem .5rem 0 2.5rem;
    
  

}
.time-item-content-main h3 {
    text-align: center;
    font-weight: 600;
}

.time-item-content-details {
    font-size: 14px;
    color: rgb(99, 99, 99);
    display: none;
    
}



.show-hide-button {
    float: left;
    margin-top: .2rem;
    cursor: pointer;
}
.show-hide-button span {
    display: none;
}

.delete-time-item {
    position: absolute;
    top: .5rem;
    right: 0;
    cursor: pointer;
    z-index: 1000;
 
}


  
.time-item.active .show-hide-button span {
    display: inline;
}

.time-item.active .time-item-content-details {
    display: block;
}

.duration-box {
    min-width: 40rem;
}



/* Alert Box */

.alert-box {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 2000;

}

.alert-box .alert {
    padding: 2rem;
}